*{
  padding: 0;
  margin: 0;
  list-style: none;
  text-decoration: none;
  position: relative;
}

@mixin c-align{
  position: absolute;
  left: 0;
  right:0;
  margin: auto;
}
@mixin v-align{
  position: absolute;
  top: 0;
  bottom:0;
  margin: auto;
}
@mixin center{
  position: absolute;
  top:0;left:0;right:0;bottom: 0;
  margin: auto;
}

@mixin cube($size){
  width: $size;
  height: $size;
}
@mixin trixe($w,$h){
  width:$w;
  height:$h;
}
@mixin circle($size){
  width: $size;
  height:$size;
  border-radius: 50%;
}
